<nav class="navbar bg-navbar">
  <div class="container-fluid">
    <a class="navbar-brand text-white">
      <img src="favicon.ico" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
      Serie A Prediction
    </a>
  </div>
</nav>
<div class="container-fluid">
  <div class="row justify-content-between mt-2">
    <div class="col-md-6">
      <!-- Elenco delle giornate del calendario -->
      <div class="schedule-container">
        <div class="fs-3 fw-bold">Calendario delle partite</div>
        <div class="scrollable-container overflow-x-hidden justify-content-center">
            <div class="matchday text-center">
                @for (matchday of matchdays; track $index) {
                <p class="fs-3 fw-bold">Giornata {{ matchday.number }}</p>
                <div class="row fs-5 m-2">
                    @for (match of matchday.matches; track $index) {
                    <div class="col-4">{{ match.home }}</div>
                    <div class="col-5">
                        <form [formGroup]="matchForm">
                            <div class="row score">
                                <input type="number" class="col-4 border-0 bg-transparent text-primary text-center fw-bold" formControlName="homeScore" (change)="updateResult(match)">
                                <div class=" col-4 text-primary text-center fw-bold"> - </div>
                                <input type="number" class="col-4 border-0  bg-transparent text-primary text-center fw-bold " formControlName="awayScore" (change)="updateResult(match)">
                            </div>
                        </form>
                    </div>
                    <div class="col-3">{{ match.away }}</div>
                    }
                </div>
                }
            </div>
        </div>
    </div>

    </div>

    <div class="col-md-3">

        <div class="table table-responsive-sm align-middle  table-borderless">
          <caption class="fs-3 fw-bold m-1 standings">Classifica</caption>
          <thead>
            <tr>
              <th scope="col">Pos.</th>
              <th scope="col">Squadra</th>
              <th scope="col">Punti</th>
            </tr>
          </thead>
          <tbody class="fs-6">
            @for (team of standings ; track team; let i = $index;) {
              <tr [class]="getStandingClass(i+1)">
                <td>
                  {{i+1}}
                  @if ( (i+1) < 5 ) {
                    <img src="assets/cl.png" class="img-mini" alt="champions league">
                    @if (i+1 === 1) {

                    <img src="assets/scudetto.png" class="img-mini" alt="scudetto">
                    }
                  }
                  @if ((i+1) === 5) {
                    <img src="assets/el.png" class="img-mini" alt="europa league">
                  } @if((i+1) === 6  ) {
                    <img src="assets/ecl.png" class="img-mini" alt="conference league">
                  }
                  @if ( (i+1) >17) {
                    <img src="assets/down.png" class="img-mini" alt="retrocesse">
                  }

              </td>
                <td> {{team.name}}</td>
                <td> {{ team.points}}</td>
              </tr>
              }
          </tbody>
        </div>
    </div>

  </div>
</div>
